@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">To</h1>
    <h1 class="display-4">Online</h1>
    <h1 class="display-4">Store</h1>
</div>
